<module>
	<rawname>lenny</rawname>
	<name>Lenny Blacklist Mod</name>
	<version>0.0.2</version>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Other</category>
	<menuitems>
		<lenny>Lenny Blacklist Mod</lenny>
	</menuitems>
	<changelog>
		*0.0.1*  First release
		*0.0.2*  minor bug fixes
	</changelog>
	<depends>
		<version>ge 2.9</version>
		<module>blacklist</module>
	</depends>
</module>
