<module>
	<rawname>lenny</rawname>
	<name>Lenny Blacklist Mod</name>
	<version>0.0.7</version>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Other</category>
	<menuitems>
		<lenny>Lenny Blacklist Mod</lenny>
	</menuitems>
	<changelog>
		*0.0.7*  Fix bug in dialplan splice
		*0.0.6*  Remove Blacklist html hook for debug
		*0.0.5*  Updated to use html hook in Blacklist module
		*0.0.4*  Typos and note about respecing TOS
		*0.0.3*  Added core 2.10 dependency
		*0.0.2*  minor bug fixes
		*0.0.1*  First release
		</changelog>
	<depends>
		<version>ge 2.10</version>
		<module>blacklist</module>
	</depends>
</module>
